<mat-card class="mat-elevation-z3">
    <mat-card-header>

        <img mat-card-avatar src="../../../../assets/travel-svgrepo-com.svg" />

        <mat-card-title>Tourist</mat-card-title>
        <mat-card-subtitle>List of Tourist</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="right">
            <a mat-mini-fab [routerLink]="['/tourist-create']">
                <mat-icon>add</mat-icon>
            </a>
        </div>
        <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="touristPicture">
                <mat-header-cell *matHeaderCellDef>

                </mat-header-cell>
                <mat-cell *matCellDef="let element"><img class="circle-img" src="{{picPath}}/{{element.touristPicture}}" style="width: 40px;" /></mat-cell>

            </ng-container>
            <ng-container matColumnDef="touristName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Tourist Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.touristName}}</mat-cell>

            </ng-container>
            <ng-container matColumnDef="bookingDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Booking Date</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.bookingDate|date:'yyyy-MM-dd'}}</mat-cell>

            </ng-container>

            <ng-container matColumnDef="touristOccupation">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Tourist Occupation</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.touristOccupation}}</mat-cell>

            </ng-container>
            <ng-container matColumnDef="packageName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Package Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.packageName}}</mat-cell>

            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef mat-sort-header>...</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a [routerLink]="['/tourist-edit', element.touristId]">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <button [disabled]="!element.canDelete" mat-icon-button (click)="confirmDelete(element)"><mat-icon>delete</mat-icon></button>
                </mat-cell>

            </ng-container>
            <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;"></mat-row>

        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 40]" [pageSize]="5" showFirstLastButtons></mat-paginator>

    </mat-card-content>
</mat-card>